// Place all the styles related to the Positions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$raya-blue: #079CF6;
$raya-red: #F5191B;


body {
  background-color: #fff;

  .navbar {
      background-color: $raya-blue !important;
      .navbar-brand {font-weight: bolder; color: $raya-red;}
      .nav-item a {
        color: white;
        &:hover {font-weight: bold; }
      }
  }
  .container-fluid.main {
    padding: 40px 5%;
  }
}
