// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$raya-blue: #079CF6;
$raya-red: #F5191B;


body {
  background-color: #fff;
  .center {text-align: center;}

  .navbar {
      background-color: $raya-blue !important;
      .navbar-brand {font-weight: bolder; color: $raya-red;}
      .nav-item a {
        color: white;
        &:hover {font-weight: bold; }
      }
  }
  .container-fluid.main {
    padding: 40px 5%;
  }

  //index stuff
    .btn-action, a:link.btn-action, a:visited.btn-action {margin-top: 0; padding:0 5px; border: 0; }


  //-- Show Stuff --

  .table {
    font-size: smaller;
  }
  .tab-pane {padding: 1em;}

 //form stuff
 form label {
   font-size: smaller; padding-top: 5px; padding-bottom: 0;
   &.required:after {color: red; content: " *";}
 }


  .trix-5 {min-height: 5rem; overflow-y: auto;}
  .trix-10 {min-height: 10rem; overflow-y: auto;}
  .trix-15 {min-height: 15rem; overflow-y: auto;}
  .trix-20 {min-height: 20rem; overflow-y: auto;}
  .trix-25 {min-height: 25rem; overflow-y: auto;}

  ul.ui-autocomplete {
    position: absolute; list-style: none;
    margin: 0; padding: 0; border: solid 1px #999; cursor: default;
    li {
      background-color: #FFF;
      border-top: solid 1px #DDD;
      margin: 0; padding: 0;
      a {color: #000; display: block; padding: 3px;}
      a.ui-state-hover, a.ui-state-active {background-color: #FFFCB2;}
    }
  }
}

.png_display img {
  max-height: 80vh;
}




#canvas {
        height: 100%;
        padding: 0;
        margin: 0;
      }
.diagram-note {
        background-color: rgba(66, 180, 21, 0.7);
        color: White;
        border-radius: 5px;
        font-family: Arial;
        font-size: 12px;
        padding: 5px;
        min-height: 16px;
        width: 50px;
        text-align: center;
      }

.needs-discussion:not(.djs-connection) .djs-visual > :nth-child(1) {
  stroke: rgba(66, 180, 21, 0.7) !important; /* color elements as red */
}
